---
http_interactions:
- request:
    method: post
    uri: http://quaderno.lvh.me:3000/api/accounts.json
    body:
      encoding: UTF-8
      string: '{"country":"JP","business_name":"Z, Mazinger Z","local_tax_id":"11111111","email":"1689786161_koji@kabuto.ftw"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Reset:
      - '1689786165'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"86d66b9c3b9d966c14a3d747d4daa9cc"
    body:
      encoding: UTF-8
      string: '{"id":24,"authentication":{"token_type":"Bearer","access_token":"iuE9srQUCFrDdorAJb1BE3OgBnxryz7OcEVCxx22KIA","refresh_token":"eiRZjyB-Cnvw4tOTWum6K0gLxzQBEsUsQO40-AUI1oo"},"business_name":"Z,
        Mazinger Z","country":"JP","created_at":1689786161,"currency":"JPY","default_product_type":"service","default_tax_code":"eservice","email":"1689786161_koji@kabuto.ftw","postal_code":"10000","state":"active","subdomain":"uruk-5871","time_zone":"Asia/Tokyo","type":"custom","web":"http://kabuto.ftw"}'
  recorded_at: Wed, 19 Jul 2023 17:02:41 GMT
- request:
    method: put
    uri: http://quaderno.lvh.me:3000/api/accounts/24/deactivate.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Reset:
      - '1689786165'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9f46cae730383314ac5b6b2bd734f98d"
    body:
      encoding: UTF-8
      string: '{"id":24,"business_name":"Z, Mazinger Z","country":"JP","created_at":1689786161,"currency":"JPY","default_product_type":"service","default_tax_code":"eservice","email":"1689786161_koji@kabuto.ftw","postal_code":"10000","state":"hibernated","subdomain":"uruk-5871","time_zone":"Asia/Tokyo","type":"custom","web":"http://kabuto.ftw"}'
  recorded_at: Wed, 19 Jul 2023 17:02:41 GMT
- request:
    method: put
    uri: http://quaderno.lvh.me:3000/api/accounts/24/activate.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Reset:
      - '1689786165'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e14d3a58e240e77b5a74be49204d8ed6"
    body:
      encoding: UTF-8
      string: '{"id":24,"business_name":"Z, Mazinger Z","country":"JP","created_at":1689786161,"currency":"JPY","default_product_type":"service","default_tax_code":"eservice","email":"1689786161_koji@kabuto.ftw","postal_code":"10000","state":"active","subdomain":"uruk-5871","time_zone":"Asia/Tokyo","type":"custom","web":"http://kabuto.ftw"}'
  recorded_at: Wed, 19 Jul 2023 17:02:41 GMT
recorded_with: VCR 6.1.0
