---
http_interactions:
- request:
    method: post
    uri: http://quaderno.lvh.me:3000/api/accounts.json
    body:
      encoding: UTF-8
      string: '{"country":"JP","business_name":"Z, Mazinger Z","local_tax_id":"11111111","email":"koji@kabuto.ftw"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Reset:
      - '1689785985'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4911fa1ce184493f7c5e89efda79c20e"
    body:
      encoding: UTF-8
      string: '{"id":21,"authentication":{"token_type":"Bearer","access_token":"layUyLdNaUEiqpy-8TlPDd0Gz-VIqQtF86HfrKFP4Wg","refresh_token":"yYexUvOP4irnyQzg56dmOb7EIv_h7GD2awK5aP7OxP8"},"business_name":"Z,
        Mazinger Z","country":"JP","created_at":1689785974,"currency":"JPY","default_product_type":"service","default_tax_code":"eservice","email":"koji@kabuto.ftw","postal_code":"10000","state":"active","subdomain":"nippur-534","time_zone":"Asia/Tokyo","type":"custom","web":"http://kabuto.ftw"}'
  recorded_at: Wed, 19 Jul 2023 16:59:34 GMT
- request:
    method: put
    uri: http://quaderno.lvh.me:3000/api/accounts/21/deactivate.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Reset:
      - '1689785985'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"458b1b6edf4b01826262d2e968119ad8"
    body:
      encoding: UTF-8
      string: '{"id":21,"business_name":"Z, Mazinger Z","country":"JP","created_at":1689785974,"currency":"JPY","default_product_type":"service","default_tax_code":"eservice","email":"koji@kabuto.ftw","postal_code":"10000","state":"hibernated","subdomain":"nippur-534","time_zone":"Asia/Tokyo","type":"custom","web":"http://kabuto.ftw"}'
  recorded_at: Wed, 19 Jul 2023 16:59:34 GMT
- request:
    method: put
    uri: http://quaderno.lvh.me:3000/api/accounts/21/activate.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Reset:
      - '1689785985'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"42bcc3c2730bd20664f0394432762a97"
    body:
      encoding: UTF-8
      string: '{"id":21,"business_name":"Z, Mazinger Z","country":"JP","created_at":1689785974,"currency":"JPY","default_product_type":"service","default_tax_code":"eservice","email":"koji@kabuto.ftw","postal_code":"10000","state":"active","subdomain":"nippur-534","time_zone":"Asia/Tokyo","type":"custom","web":"http://kabuto.ftw"}'
  recorded_at: Wed, 19 Jul 2023 16:59:34 GMT
recorded_with: VCR 6.1.0
