---
http_interactions:
- request:
    method: get
    uri: http://quaderno.lvh.me:3000/api/accounts.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Reset:
      - '1689785985'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      X-Pages-Hasmore:
      - 'false'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1ad4f0ce4e3d1224bbda5c5a553f9352"
    body:
      encoding: UTF-8
      string: '[{"id":12,"business_name":"Test_Skynet","country":"ES","created_at":1689785519,"currency":"EUR","default_product_type":"service","default_tax_code":"eservice","email":"my_little@po.ny","postal_code":"10000","state":"active","subdomain":"ninive-7867","time_zone":"Europe/Madrid","type":"custom","web":"http://po.ny"},{"id":13,"business_name":"Test_Skynet","country":"ES","created_at":1689785524,"currency":"EUR","default_product_type":"service","default_tax_code":"eservice","email":"my_little@po.ny","postal_code":"10000","state":"active","subdomain":"uruk-537","time_zone":"Europe/Madrid","type":"custom","web":"http://po.ny"},{"id":14,"business_name":"Test_OCP","country":"ES","created_at":1689785525,"currency":"EUR","default_product_type":"service","default_tax_code":"eservice","email":"dont@sto[...]
