---
http_interactions:
- request:
    method: post
    uri: http://quaderno.lvh.me:3000/api/accounts.json
    body:
      encoding: UTF-8
      string: '{"country":"JP","business_name":"Z, Mazinger Z","local_tax_id":"11111111","email":"koji@kabuto.ftw"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Reset:
      - '1689785985'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d8652e253cee494647e4d9a8cf308047"
    body:
      encoding: UTF-8
      string: '{"id":22,"authentication":{"token_type":"Bearer","access_token":"2aXg38jtbIl5Do04dsPIHLsZ0NvmsXbcPJmz2Wp_BJ0","refresh_token":"UmDXDSk5dnWl-cxCNebIfc14nBZ7AposjniY4lW8YA8"},"business_name":"Z,
        Mazinger Z","country":"JP","created_at":1689785975,"currency":"JPY","default_product_type":"service","default_tax_code":"eservice","email":"koji@kabuto.ftw","postal_code":"10000","state":"active","subdomain":"ninive-1603","time_zone":"Asia/Tokyo","type":"custom","web":"http://kabuto.ftw"}'
  recorded_at: Wed, 19 Jul 2023 16:59:35 GMT
- request:
    method: put
    uri: http://quaderno.lvh.me:3000/api/accounts/22/deactivate.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Reset:
      - '1689785985'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3b3e0f6d55a3b649a4d31b5a39465921"
    body:
      encoding: UTF-8
      string: '{"id":22,"business_name":"Z, Mazinger Z","country":"JP","created_at":1689785975,"currency":"JPY","default_product_type":"service","default_tax_code":"eservice","email":"koji@kabuto.ftw","postal_code":"10000","state":"hibernated","subdomain":"ninive-1603","time_zone":"Asia/Tokyo","type":"custom","web":"http://kabuto.ftw"}'
  recorded_at: Wed, 19 Jul 2023 16:59:35 GMT
recorded_with: VCR 6.1.0
