---
http_interactions:
- request:
    method: post
    uri: http://quaderno.lvh.me:3000/api/accounts.json
    body:
      encoding: UTF-8
      string: '{"country":"JP","business_name":"Z, Mazinger Z","local_tax_id":"11111111","email":"koji@kabuto.ftw"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Reset:
      - '1689785985'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0bf67ec162f7f11284a567b479fff8e2"
    body:
      encoding: UTF-8
      string: '{"id":20,"authentication":{"token_type":"Bearer","access_token":"MR5nqHywoydl2InfYrnIqE4tet0jLsl-tOqC7DMfzT4","refresh_token":"2qMf493s6CPHooTsdBSksQEtCJN3C5KC3A80M9XWJD4"},"business_name":"Z,
        Mazinger Z","country":"JP","created_at":1689785974,"currency":"JPY","default_product_type":"service","default_tax_code":"eservice","email":"koji@kabuto.ftw","postal_code":"10000","state":"active","subdomain":"nippur-7582","time_zone":"Asia/Tokyo","type":"custom","web":"http://kabuto.ftw"}'
  recorded_at: Wed, 19 Jul 2023 16:59:34 GMT
- request:
    method: put
    uri: http://quaderno.lvh.me:3000/api/accounts/20/deactivate.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Reset:
      - '1689785985'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"88638db8d006c2158a94b45c6aea87ec"
    body:
      encoding: UTF-8
      string: '{"id":20,"business_name":"Z, Mazinger Z","country":"JP","created_at":1689785974,"currency":"JPY","default_product_type":"service","default_tax_code":"eservice","email":"koji@kabuto.ftw","postal_code":"10000","state":"hibernated","subdomain":"nippur-7582","time_zone":"Asia/Tokyo","type":"custom","web":"http://kabuto.ftw"}'
  recorded_at: Wed, 19 Jul 2023 16:59:34 GMT
recorded_with: VCR 6.1.0
