---
http_interactions:
- request:
    method: get
    uri: http://quaderno.lvh.me:3000/api/items.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Reset:
      - '12'
      X-Ratelimit-Remaining:
      - '94'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ae2effbeb17cc65b081c9a1ad499ce6a"'
    body:
      encoding: UTF-8
      string: '[{"id":1,"code":"frstprod","name":"Test item","unit_cost":"10.0","stock":null,"tax_class":"eservice","url":"http://quaderno.lvh.me:3000/api/items/1"},{"id":4,"code":"1513867484","name":"Test_OCP","unit_cost":"21.0","stock":null,"tax_class":"eservice","url":"http://quaderno.lvh.me:3000/api/items/4"},{"id":2,"code":"1513867482","name":"Test_Skynet","unit_cost":"21.0","stock":null,"tax_class":"eservice","url":"http://quaderno.lvh.me:3000/api/items/2"},{"id":3,"code":"000000","name":"Test_Skynet","unit_cost":"21.0","stock":null,"tax_class":"eservice","url":"http://quaderno.lvh.me:3000/api/items/3"}]'
  recorded_at: Thu, 21 Dec 2017 14:44:45 GMT
- request:
    method: delete
    uri: http://quaderno.lvh.me:3000/api/items/3.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Reset:
      - '12'
      X-Ratelimit-Remaining:
      - '93'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 21 Dec 2017 14:44:46 GMT
- request:
    method: get
    uri: http://quaderno.lvh.me:3000/api/items.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Reset:
      - '12'
      X-Ratelimit-Remaining:
      - '92'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0d21dcae29305756683483872a4886ee"'
    body:
      encoding: UTF-8
      string: '[{"id":1,"code":"frstprod","name":"Test item","unit_cost":"10.0","stock":null,"tax_class":"eservice","url":"http://quaderno.lvh.me:3000/api/items/1"},{"id":4,"code":"1513867484","name":"Test_OCP","unit_cost":"21.0","stock":null,"tax_class":"eservice","url":"http://quaderno.lvh.me:3000/api/items/4"},{"id":2,"code":"1513867482","name":"Test_Skynet","unit_cost":"21.0","stock":null,"tax_class":"eservice","url":"http://quaderno.lvh.me:3000/api/items/2"}]'
  recorded_at: Thu, 21 Dec 2017 14:44:46 GMT
recorded_with: VCR 4.0.0
