---
http_interactions:
- request:
    method: post
    uri: http://quaderno.lvh.me:3000/api/tax_rates.json
    body:
      encoding: UTF-8
      string: '{"name":"Custom Italian Tax","value":50,"jurisdiction_id":68}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Reset:
      - '1689841500'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5c069a2da0b4dbd1a723a5e4f3ef70f8"
    body:
      encoding: UTF-8
      string: '{"id":6,"type":"custom","jurisdiction":{"id":68,"country":"IT","name":"Italy"},"name":"Custom
        Italian Tax","tax_code":"eservice","valid_from":"2020-01-01","valid_until":null,"value":50.0,"url":"http://quaderno.lvh.me:3000/api/tax_rates/6","created_at":1689841492}'
  recorded_at: Thu, 20 Jul 2023 08:24:52 GMT
- request:
    method: get
    uri: http://quaderno.lvh.me:3000/api/tax_rates/6.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Reset:
      - '1689841500'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5c069a2da0b4dbd1a723a5e4f3ef70f8"
    body:
      encoding: UTF-8
      string: '{"id":6,"type":"custom","jurisdiction":{"id":68,"country":"IT","name":"Italy"},"name":"Custom
        Italian Tax","tax_code":"eservice","valid_from":"2020-01-01","valid_until":null,"value":50.0,"url":"http://quaderno.lvh.me:3000/api/tax_rates/6","created_at":1689841492}'
  recorded_at: Thu, 20 Jul 2023 08:24:52 GMT
recorded_with: VCR 6.1.0
