---
http_interactions:
- request:
    method: post
    uri: http://quaderno.lvh.me:3000/api/addresses.json
    body:
      encoding: UTF-8
      string: '{"street_line_1":"Test_Address 2 line 1","street_line_2":"Test_Address
        2 line 2","postal_code":"1234","city":"TCity"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Reset:
      - '1689939270'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f0c0966e5e7bb426ba4747a294ff3151"
    body:
      encoding: UTF-8
      string: '{"id":37,"country":"ES","street_line_1":"Test_Address 2 line 1","street_line_2":"Test_Address
        2 line 2","city":"TCity","postal_code":"1234","region":null,"valid_from":"2023-01-01","valid_until":null}'
  recorded_at: Fri, 21 Jul 2023 11:34:15 GMT
recorded_with: VCR 6.1.0
