---
http_interactions:
- request:
    method: post
    uri: http://quaderno.lvh.me:3000/api/accounts.json
    body:
      encoding: UTF-8
      string: '{"business_name":"Test_Skynet","email":"my_little@po.ny","local_tax_id":"11111111","country":"ES"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Reset:
      - '1689785985'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"770e38e8525a5d6e0e1760e39ae7253d"
    body:
      encoding: UTF-8
      string: '{"id":19,"authentication":{"token_type":"Bearer","access_token":"IW-vIt219vYxQcp7u_PaIYmB-hug5obMS6Iajm8miJs","refresh_token":"wAOSe1PM1ktFCCXOonK9eQ_Wwak85xQwx6H5QXg2qCQ"},"business_name":"Test_Skynet","country":"ES","created_at":1689785973,"currency":"EUR","default_product_type":"service","default_tax_code":"eservice","email":"my_little@po.ny","postal_code":"10000","state":"active","subdomain":"assur-5943","time_zone":"Europe/Madrid","type":"custom","web":"http://po.ny"}'
  recorded_at: Wed, 19 Jul 2023 16:59:33 GMT
recorded_with: VCR 6.1.0
