---
http_interactions:
- request:
    method: post
    uri: http://quaderno.lvh.me:3000/api/tax_ids.json
    body:
      encoding: UTF-8
      string: '{"value":"1111111","jurisdiction_id":11,"valid_from":"2018-01-03"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Reset:
      - '1689838455'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"09466a7e09525411a5f98e45a3f633d1"
    body:
      encoding: UTF-8
      string: '{"id":71,"jurisdiction":{"id":11,"country":"FR","name":"France"},"state":"unverified","valid_from":"2018-01-03","valid_until":null,"value":"1111111","created_at":1689838454}'
  recorded_at: Thu, 20 Jul 2023 07:34:14 GMT
recorded_with: VCR 6.1.0
