---
http_interactions:
- request:
    method: post
    uri: http://quaderno.lvh.me:3000/api/addresses.json
    body:
      encoding: UTF-8
      string: '{"street_line_1":"Test_Address 1 line 1","street_line_2":"Test_Address
        1 line 2","postal_code":"1234","city":"TCity"}'
    headers:
      Authorization:
      - Bearer afa16c7478f0ba3be222e627c2571d4dd5dca47924996b13a3af377feca47ff0
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Reset:
      - '1689939495'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e848fec9e8710bab0da9a73bc4a200e1"
    body:
      encoding: UTF-8
      string: '{"id":38,"country":"ES","street_line_1":"Test_Address 1 line 1","street_line_2":"Test_Address
        1 line 2","city":"TCity","postal_code":"1234","region":null,"valid_from":"2023-01-01","valid_until":null}'
  recorded_at: Fri, 21 Jul 2023 11:38:10 GMT
recorded_with: VCR 6.1.0
