---
http_interactions:
- request:
    method: post
    uri: http://quaderno.lvh.me:3000/api/items.json
    body:
      encoding: UTF-8
      string: '{"code":"000000","name":"Test_Skynet","unit_cost":21.0}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Reset:
      - '13'
      X-Ratelimit-Remaining:
      - '97'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"04f048033223dd12d1540fbfb93ed0a9"'
    body:
      encoding: UTF-8
      string: '{"id":3,"code":"000000","name":"Test_Skynet","unit_cost":"21.0","stock":null,"tax_class":"eservice","url":"http://quaderno.lvh.me:3000/api/items/3"}'
  recorded_at: Thu, 21 Dec 2017 14:44:44 GMT
recorded_with: VCR 4.0.0
