---
http_interactions:
- request:
    method: post
    uri: http://quaderno.lvh.me:3000/api/tax_rates.json
    body:
      encoding: UTF-8
      string: '{"name":"Custom Swiss Tax","value":11.11,"jurisdiction_id":86}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Reset:
      - '1689841530'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a0f54d90dc99635407c5dd6500d05ffb"
    body:
      encoding: UTF-8
      string: '{"id":7,"type":"custom","jurisdiction":{"id":86,"country":"CH","name":"Switzerland"},"name":"Custom
        Swiss Tax","tax_code":"eservice","valid_from":"2020-01-01","valid_until":null,"value":11.11,"url":"http://quaderno.lvh.me:3000/api/tax_rates/7","created_at":1689841519}'
  recorded_at: Thu, 20 Jul 2023 08:25:19 GMT
recorded_with: VCR 6.1.0
