---
http_interactions:
- request:
    method: post
    uri: http://quaderno.lvh.me:3000/api/tax_ids.json
    body:
      encoding: UTF-8
      string: '{"value":"1111111","jurisdiction_id":11,"valid_from":"2018-01-03"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Reset:
      - '1689838755'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d0f879d576d2b26fe9cf66a63db5293f"
    body:
      encoding: UTF-8
      string: '{"id":75,"jurisdiction":{"id":11,"country":"FR","name":"France"},"state":"unverified","valid_from":"2018-01-03","valid_until":null,"value":"1111111","created_at":1689838742}'
  recorded_at: Thu, 20 Jul 2023 07:39:02 GMT
- request:
    method: put
    uri: http://quaderno.lvh.me:3000/api/tax_ids/75.json
    body:
      encoding: UTF-8
      string: '{"value":"2222222222","valid_until":"2023-04-01"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Reset:
      - '1689838755'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c8a0da544a2eaf1a09725a670340a947"
    body:
      encoding: UTF-8
      string: '{"id":75,"jurisdiction":{"id":11,"country":"FR","name":"France"},"state":"unverified","valid_from":"2018-01-03","valid_until":"2023-04-01","value":"2222222222","created_at":1689838742}'
  recorded_at: Thu, 20 Jul 2023 07:39:02 GMT
recorded_with: VCR 6.1.0
