---
http_interactions:
- request:
    method: get
    uri: http://quaderno.lvh.me:3000/api/addresses.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer afa16c7478f0ba3be222e627c2571d4dd5dca47924996b13a3af377feca47ff0
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Reset:
      - '1689939495'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7b50679b76a3ba7be276bb7415c291a4"
    body:
      encoding: UTF-8
      string: '[{"id":19,"country":"ES","street_line_1":null,"street_line_2":null,"city":null,"postal_code":null,"region":null,"valid_from":"2023-01-01","valid_until":null},{"id":34,"country":"ES","street_line_1":"Test","street_line_2":null,"city":null,"postal_code":null,"region":null,"valid_from":"2023-01-01","valid_until":null},{"id":35,"country":"ES","street_line_1":"New
        test address 2","street_line_2":null,"city":null,"postal_code":null,"region":null,"valid_from":"2023-01-01","valid_until":null},{"id":36,"country":"ES","street_line_1":"Test  3","street_line_2":null,"city":null,"postal_code":null,"region":null,"valid_from":"2023-01-01","valid_until":null},{"id":37,"country":"ES","street_line_1":"Test_Address
        2 line 1","street_line_2":"Test_Address 2 line 2","city":"TCity","postal_code":"1234","region":null,"valid_from":"2023-01-01","valid_until":null},{"id":38,"country":"ES","street_line_1":"Test_Address
        1 line 1","street_line_2":"Test_Address 1 line 2","city":"TCity","postal_code":"1234","region":null,"valid_from":"2023-01-01","valid_until":null}]'
  recorded_at: Fri, 21 Jul 2023 11:38:10 GMT
- request:
    method: put
    uri: http://quaderno.lvh.me:3000/api/addresses/35.json
    body:
      encoding: UTF-8
      string: '{"street_line_1":"New test address 1"}'
    headers:
      Authorization:
      - Bearer afa16c7478f0ba3be222e627c2571d4dd5dca47924996b13a3af377feca47ff0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Reset:
      - '1689939495'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b4fb31f46fb6f945780ebc2814890392"
    body:
      encoding: UTF-8
      string: '{"id":35,"country":"ES","street_line_1":"New test address 1","street_line_2":null,"city":null,"postal_code":null,"region":null,"valid_from":"2023-01-01","valid_until":null}'
  recorded_at: Fri, 21 Jul 2023 11:38:10 GMT
recorded_with: VCR 6.1.0
