---
http_interactions:
- request:
    method: get
    uri: http://quaderno.lvh.me:3000/api/addresses.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Reset:
      - '1689939270'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"75330565952f24138f43b1cb54f82635"
    body:
      encoding: UTF-8
      string: '[{"id":19,"country":"ES","street_line_1":null,"street_line_2":null,"city":null,"postal_code":null,"region":null,"valid_from":"2023-01-01","valid_until":null},{"id":34,"country":"ES","street_line_1":"Test","street_line_2":null,"city":null,"postal_code":null,"region":null,"valid_from":"2023-01-01","valid_until":null},{"id":35,"country":"ES","street_line_1":"Test
        2","street_line_2":null,"city":null,"postal_code":null,"region":null,"valid_from":"2023-01-01","valid_until":null},{"id":36,"country":"ES","street_line_1":"Test  3","street_line_2":null,"city":null,"postal_code":null,"region":null,"valid_from":"2023-01-01","valid_until":null},{"id":37,"country":"ES","street_line_1":"Test_Address
        2 line 1","street_line_2":"Test_Address 2 line 2","city":"TCity","postal_code":"1234","region":null,"valid_from":"2023-01-01","valid_until":null}]'
  recorded_at: Fri, 21 Jul 2023 11:34:15 GMT
- request:
    method: put
    uri: http://quaderno.lvh.me:3000/api/addresses/35.json
    body:
      encoding: UTF-8
      string: '{"street_line_1":"New test address 2"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Reset:
      - '1689939270'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9502c29c4c82b3f5493a69ccc2bfb40c"
    body:
      encoding: UTF-8
      string: '{"id":35,"country":"ES","street_line_1":"New test address 2","street_line_2":null,"city":null,"postal_code":null,"region":null,"valid_from":"2023-01-01","valid_until":null}'
  recorded_at: Fri, 21 Jul 2023 11:34:15 GMT
recorded_with: VCR 6.1.0
