---
http_interactions:
- request:
    method: post
    uri: http://quaderno.lvh.me:3000/api/items.json
    body:
      encoding: UTF-8
      string: '{"code":"1513867484","name":"Test_Skynet","unit_cost":21.0}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Reset:
      - '13'
      X-Ratelimit-Remaining:
      - '96'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"027c6d6f1a906273ca2d4aa8394a1f88"'
    body:
      encoding: UTF-8
      string: '{"id":4,"code":"1513867484","name":"Test_Skynet","unit_cost":"21.0","stock":null,"tax_class":"eservice","url":"http://quaderno.lvh.me:3000/api/items/4"}'
  recorded_at: Thu, 21 Dec 2017 14:44:45 GMT
- request:
    method: put
    uri: http://quaderno.lvh.me:3000/api/items/4.json
    body:
      encoding: UTF-8
      string: '{"name":"Test_OCP"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Reset:
      - '13'
      X-Ratelimit-Remaining:
      - '95'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"41f5341f4ca73b8d6592adbb0cb7e4e4"'
    body:
      encoding: UTF-8
      string: '{"id":4,"code":"1513867484","name":"Test_OCP","unit_cost":"21.0","stock":null,"tax_class":"eservice","url":"http://quaderno.lvh.me:3000/api/items/4"}'
  recorded_at: Thu, 21 Dec 2017 14:44:45 GMT
recorded_with: VCR 4.0.0
