---
http_interactions:
- request:
    method: post
    uri: http://quaderno.lvh.me:3000/api/tax_rates.json
    body:
      encoding: UTF-8
      string: '{"name":"Custom Swiss Tax","value":12.12,"jurisdiction_id":86,"valid_from":"2018-01-03"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Reset:
      - '1689843840'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8f195b1662067d4b4fd1e1af44bc9e81"
    body:
      encoding: UTF-8
      string: '{"id":9,"type":"custom","jurisdiction":{"id":86,"country":"CH","name":"Switzerland"},"name":"Custom
        Swiss Tax","tax_code":"eservice","valid_from":"2018-01-03","valid_until":null,"value":12.12,"url":"http://quaderno.lvh.me:3000/api/tax_rates/9","created_at":1689843840}'
  recorded_at: Thu, 20 Jul 2023 09:04:00 GMT
- request:
    method: put
    uri: http://quaderno.lvh.me:3000/api/tax_rates/9.json
    body:
      encoding: UTF-8
      string: '{"value":23.0,"valid_until":"2023-04-01"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Reset:
      - '1689843855'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"881a628a240c272cf2c00385557a4760"
    body:
      encoding: UTF-8
      string: '{"id":9,"type":"custom","jurisdiction":{"id":86,"country":"CH","name":"Switzerland"},"name":"Custom
        Swiss Tax","tax_code":"eservice","valid_from":"2018-01-03","valid_until":"2023-04-01","value":23.0,"url":"http://quaderno.lvh.me:3000/api/tax_rates/9","created_at":1689843840}'
  recorded_at: Thu, 20 Jul 2023 09:04:10 GMT
recorded_with: VCR 6.1.0
