---
http_interactions:
- request:
    method: post
    uri: http://quaderno.lvh.me:3000/api/tax_ids.json
    body:
      encoding: UTF-8
      string: '{"value":"1111111","jurisdiction_id":11,"valid_from":"2018-01-03"}'
    headers:
      Authorization:
      - Bearer afa16c7478f0ba3be222e627c2571d4dd5dca47924996b13a3af377feca47ff0
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Reset:
      - '1689839325'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0aef6427d5b5bd368fe63a74aec38591"
    body:
      encoding: UTF-8
      string: '{"id":79,"jurisdiction":{"id":11,"country":"FR","name":"France"},"state":"unverified","valid_from":"2018-01-03","valid_until":null,"value":"1111111","created_at":1689839320}'
  recorded_at: Thu, 20 Jul 2023 07:48:40 GMT
- request:
    method: put
    uri: http://quaderno.lvh.me:3000/api/tax_ids/79.json
    body:
      encoding: UTF-8
      string: '{"value":"2222222222","valid_until":"2023-04-01"}'
    headers:
      Authorization:
      - Bearer afa16c7478f0ba3be222e627c2571d4dd5dca47924996b13a3af377feca47ff0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Reset:
      - '1689839325'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ce9f5911764035ffbe60b067fc03ccbe"
    body:
      encoding: UTF-8
      string: '{"id":79,"jurisdiction":{"id":11,"country":"FR","name":"France"},"state":"unverified","valid_from":"2018-01-03","valid_until":"2023-04-01","value":"2222222222","created_at":1689839320}'
  recorded_at: Thu, 20 Jul 2023 07:48:40 GMT
recorded_with: VCR 6.1.0
