---
http_interactions:
- request:
    method: get
    uri: http://quaderno.lvh.me:3000/api/contacts.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Reset:
      - '11'
      X-Ratelimit-Remaining:
      - '94'
      X-Pages-Currentpage:
      - '1'
      X-Pages-Totalpages:
      - '1'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"487d984a09c5c3fb113e09bf2ad28126"'
    body:
      encoding: UTF-8
      string: '[{"id":677,"kind":"person","created_at":1513078278,"first_name":"asdasd","last_name":"sdasd","full_name":"asdasd
        sdasd","street_line_1":null,"street_line_2":null,"postal_code":"2206","city":null,"region":"NSW","country":"AU","phone_1":null,"phone_2":null,"fax":null,"email":null,"web":null,"discount":null,"tax_id":"50
        120 276 431","vat_number":"91134998020","language":"ES","notes":null,"secure_id":"0079dd8fc11e93cb76afa36ff5d8e108c2732682","permalink":"http://quaderno.lvh.me:3000/billing/0079dd8fc11e93cb76afa36ff5d8e108c2732682","url":"http://quaderno.lvh.me:3000/api/contacts/677"},{"id":678,"kind":"person","created_at":1513594244,"first_name":"Daphne","last_name":null,"full_name":"Daphne","street_line_1":"9TH
        FLOOR 107 CHEAPSIDE LONDON EC2V 6DN","street_line_2":null,"postal_code":null,"city":null,"region":null,"country":"GB","phone_1":null,"phone_2":null,"fax":null,"email":null,"web":null,"discount":null,"tax_id":"","vat_number":"GB222161751","language":"ES","notes":null,"secure_id":"7b8e6c1e4b8b793152312d7be65a64efc584ca33","permalink":"http://quaderno.lvh.me:3000/billing/7b8e6c1e4b8b793152312d7be65a64efc584ca33","url":"http://quaderno.lvh.me:3000/api/contacts/678"},{"id":671,"kind":"company","created_at":1510654395,"full_name":"James","contact_name":null,"street_line_1":null,"street_line_2":null,"postal_code":null,"city":null,"region":null,"country":"AU","phone_1":null,"phone_2":null,"fax":null,"email":null,"web":null,"discount":null,"tax_id":null,"vat_number":null,"language":"EN","notes":null,"secure_id":"f2783cb57860c8bfe343683edd6c52da26866886","permalink":"http://quaderno.lvh.me:3000/billing/f2783cb57860c8bfe343683edd6c52da26866886","url":"http://quaderno.lvh.me:3000/api/contacts/671"},{"id":672,"kind":"company","created_at":1510654706,[...]
- request:
    method: post
    uri: http://quaderno.lvh.me:3000/api/invoices.json
    body:
      encoding: UTF-8
      string: '{"contact_id":677,"contact_name":"asdasd sdasd","currency":"EUR","items_attributes":[{"description":"Aircraft","quantity":"1.0","unit_price":"0.0"}],"tags":"tnt","payment_details":"","notes":""}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Reset:
      - '10'
      X-Ratelimit-Remaining:
      - '93'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0cab3f6b9713833270296cac6eae7300"'
    body:
      encoding: UTF-8
      string: '{"id":1993,"blocked":false,"number":"0007","issue_date":"2017-12-21","created_at":1513866659,"contact":{"id":677,"full_name":"asdasd
        sdasd"},"country":"AU","street_line_1":null,"street_line_2":null,"city":null,"region":"NSW","postal_code":"2206","po_number":null,"due_date":null,"currency":"EUR","subject":null,"exchange_rate":"0.8832","items":[{"id":2023,"description":"Aircraft","quantity":"1.0","unit_price_cents":"0.0","discount_rate":"0.0","tax_1_name":null,"tax_1_rate":null,"tax_1_country":null,"tax_2_name":null,"tax_2_rate":null,"tax_2_country":null,"reference":null,"subtotal_cents":"0.0","discount_cents":"0.0","gross_amount_cents":"0.0"}],"subtotal_cents":"0.0","discount_cents":"0.0","taxes":[],"total_cents":0,"payments":[],"payment_details":null,"notes":null,"state":"outstanding","tag_list":[],"secure_id":"66a97eb27e66ac7dcafb2b1a897f717ad5e7c9a4","permalink":"http://quaderno.lvh.me:3000/invoice/66a97eb27e66ac7dcafb2b1a897f717ad5e7c9a4","pdf":"http://quaderno.lvh.me:3000/invoice/66a97eb27e66ac7dcafb2b1a897f717ad5e7c9a4.pdf","url":"http://quaderno.lvh.me:3000/api/invoices/1993.json","processor":null,"processor_id":null,"custom_metadata":{}}'
  recorded_at: Thu, 21 Dec 2017 14:31:00 GMT
- request:
    method: put
    uri: http://quaderno.lvh.me:3000/api/invoices/1993.json
    body:
      encoding: UTF-8
      string: '{"payment_details":"Show me the moneeeeeeeyy!!!!"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Reset:
      - '10'
      X-Ratelimit-Remaining:
  [...]
- request:
    method: delete
    uri: http://quaderno.lvh.me:3000/api/invoices/1993.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Reset:
      - '9'
      X-Ratelimit-Remaining:
      - '91'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 21 Dec 2017 14:31:01 GMT
recorded_with: VCR 4.0.0
