---
http_interactions:
- request:
    method: get
    uri: http://quaderno.lvh.me:3000/api/tax_rates/calculate.json?from_country=FR&tax_code=standard&to_country=FR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2tfdGVzdF9iTXo5bUpKNWJabldQd1dHdVY4eTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Reset:
      - '1689844095'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '100'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"328863225f8506ff91f7f2a8e8777535"
    body:
      encoding: UTF-8
      string: '{"country":"FR","currency":"EUR","name":"TVA","notes":null,"product_type":"service","rate":20.0,"region":null,"tax_behavior":"exclusive","tax_code":"standard","taxable_part":100.0,"import":false,"subtotal":null,"tax_amount":null,"total_amount":null,"status":"taxable"}'
  recorded_at: Thu, 20 Jul 2023 09:08:05 GMT
recorded_with: VCR 6.1.0
