---
http_interactions:
- request:
    method: post
    uri: http://development.lvh.me:3000/api/contacts.json
    body:
      encoding: UTF-8
      string: '{"kind":"company","first_name":"Test_Skynet","email":"my_little@po.ny"}'
    headers:
      authorization:
      - Bearer 36b82411e6686581fe3d7d10fbe931a3fdc9265a353832f0e3ff6269bd319e12
      content-type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      x-ratelimit-limit:
      - '2000'
      x-ratelimit-reset:
      - '15'
      x-ratelimit-remaining:
      - '99'
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"a795161241ec36c1573a97839c8d403f"'
    body:
      encoding: UTF-8
      string: '{"id":62,"kind":"company","created_at":1497351487,"full_name":"Test_Skynet","contact_name":null,"street_line_1":null,"street_line_2":null,"postal_code":null,"city":null,"region":null,"country":"ES","phone_1":null,"phone_2":null,"fax":null,"email":"my_little@po.ny","web":null,"discount":null,"tax_id":null,"vat_number":null,"bank_account":null,"language":"ES","notes":null,"secure_id":"8fec8de80f2ec765bf8471a2d9e259f63cbf06e4","permalink":"http://development.lvh.me:3000/billing/8fec8de80f2ec765bf8471a2d9e259f63cbf06e4","url":"http://development.lvh.me:3000/api/contacts/62"}'
  recorded_at: Tue, 13 Jun 2017 10:58:07 GMT
recorded_with: VCR 2.9.2
